.header {
	width: 100vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	background-color: #1eb7ee;
	z-index: 99;

	&_logo-holder {
		background: none;
		border: none;
		margin-left: 10%;
		&__logo {
			max-width: 125px;
			color: #fff;
		}
	}

	&_content-list {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		flex-grow: 1;
		flex-shrink: 1;
		&__menu-item {
			font-size: 20px;
			cursor: pointer;
			&-btn {
				border: none;
				width: auto;
				height: 10vh;
				padding: 0 35px;
				background: #1eb7ee;
				color: #fff;
				font-size: 20px;
				font-weight: 600;
				line-height: 1.5;
				border-radius: 0 30px 0 0;
				transition: background 2s;
			}
		}
	}
	&__logo {
		margin-left: 20px;
		margin-right: 50px;
	}
}

.active-menu-btn {
	color: #008ab7;
	background: linear-gradient(-90deg, #ffffff 3%, #1eb7ee 100%);
}

.language-btn {
	font-size: 20px;
	cursor: pointer;
	border: none;
	width: auto;
	height: 10vh;
	padding: 0 35px;
	background: #1eb7ee;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
}
