@import '../../../variables';
@import '../../../breakpoints';

.container {
	& .steps-for-arrival {
		&_container {
			& .one-section {
				display: flex;
				flex-direction: row;
				background-color: rgb(228, 248, 241);
			}
		}
	}
}

.arrival-container {
	& .one-section.first,
	.one-section.second,
	.one-section.third,
	.one-section.fourth,
	.one-section.fifth {
		& .second-part {
			border-left: 2px solid green;
			border-bottom: 2px solid #95989a;
		}
	}

	& .one-section.second,
	.one-section.third,
	.one-section.fourth,
	.one-section.fifth,
	.one-section.sixth,
	.one-section.seventh {
		& .title {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 20px;
		}
	}

	& .one-section.first {
		margin-top: 50px;
		& .first-part {
			background-color: $light-grey;
		}
		& .second-part {
			position: relative;
			background-color: $light-grey;
			border-bottom: none;
			border-radius: 0 0 20% 0;
			& .big-title {
				font-size: 60px;
				margin-top: -60px;
				margin-bottom: 30px;
				font-weight: 700;
			}
			& .subsection.terminal {
				width: 90%;
				min-width: 150px;
				border-radius: 80px 0 10px 10px;
				& .subsection-image {
					height: 120px;
					background-size: cover;
					background-repeat: no-repeat;
					background-position-x: left;
					background-position-y: center;
					border-radius: 80px 0 0 40px;
					overflow: hidden;
					box-shadow: $box-shadow-popular;
				}
			}
		}
	}

	& .one-section.third {
		& .third-part {
			background-color: $light-grey;
			border-radius: 20% 0 0;
			margin-top: -150px;
			& .subsection {
				width: 90%;
				border-radius: 0 80px 20px 20px;
				&-image {
					height: 120px;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: right;
					border-radius: 0 80px 40px 0;
					overflow: hidden;
					box-shadow: 0 6px 6px rgb(0 0 0 / 16%);
				}
			}
		}
	}
	& .one-section.fifth {
		& .second-part {
			border-bottom: none;
		}
		& .third-part {
			margin-top: -150px;
			background-color: $light-grey;
			& .subsection {
				width: 90%;
				border-radius: 80px 0 10px 10px;
				&-image {
					height: 120px;
					overflow: hidden;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: right;
					border-radius: 80px 0 0 40px;
					box-shadow: $box-shadow-popular;
				}
			}
		}
	}

	& .one-section.sixth {
		& .second-part {
			& .text {
				font-size: 20px;
				margin-bottom: 10px;
			}
		}
	}

	& .one-section.seventh {
		& .third-part {
			background-color: $light-grey;
		}
		& .second-part {
			&_btn {
				height: 50px;
				color: $white-color;
				background-color: $primary-color;
				font-size: 20px;
				width: 40%;
				min-width: 200px;
				line-height: 50px;
				text-align: center;
				border-radius: 0 50px 0 0;
			}
			&_note {
				margin-top: 70px;
				font-style: italic;
				font-size: 20px;
				line-height: 28px;
			}
		}
	}
}
