@import '../../../variables';
@import '../../../breakpoints';

.container {
	& .steps-for-departure {
		&_container {
			& .one-section {
				display: flex;
				flex-direction: row;
				background-color: rgb(228, 248, 241);
				flex-shrink: 0;
				& .subsections {
					@include desktop-screen {
						display: flex;
						flex-direction: row;
					}

					& .subsection.steps {
						@include desktop-screen {
							height: 425px;
						}
						& .subsection-btn {
							font-size: 16px;
							@include desktop-screen {
								font-size: 20px;
							}
						}
						& .subsection-image {
							height: 120px;
							overflow: hidden;
							background-size: cover;
							background-repeat: no-repeat;
							background-position: left;
						}

						&.first {
							border-radius: 0 80px 20px 50px;
							width: 90%;
							margin-right: 10px;
							@include desktop-screen {
								width: 48%;
							}
							& .subsection-image {
								border-radius: 0 80px 40px 0;
								background-position: left;
								@include mobile-screen {
									visibility: none;
								}
							}
						}
						&.second {
							border-radius: 60px 60px 20px 50px;
							width: 90%;
							@include desktop-screen {
								width: 48%;
							}
							& .subsection-image {
								border-radius: 60px;
								background-position: center;
								@include mobile-screen {
									visibility: none;
								}
							}
						}
						&.third {
							width: 70%;
							min-width: 200px;
							border-radius: 80px 0 20px 50px;
							margin: 28px 0 0 -30px;
							@include tablet-screen {
								margin: 28px 0 0;
							}
							& .subsection-image {
								border-radius: 80px 0 0 40px;
								background-position: left;
								@include mobile-screen {
									visibility: none;
								}
							}
						}
					}
				}
				& .second-part {
					width: 50%;
					padding: 2px 2px 18px 2%;
					& .dark-blue-circle {
						width: 36px;
						height: 36px;
						border-radius: 50%;
						text-align: center;
						line-height: 36px;
						position: relative;
						border-bottom: none;
						color: rgb(255, 255, 255);
						font-size: 28px;
						background-color: rgb(0, 101, 134);
						left: calc(100% - 18px);
						top: -18px;
						@include mobile-screen {
							width: 16px;
							height: 16px;
							left: calc(100% - 8px);
							top: -8px;
						}
					}
					& .title {
						font-size: 24px;
						font-weight: 700;
						margin-bottom: 20px;
					}
					& .small-title {
						margin-top: -50px;
						color: #5a5e60;
					}
					& .big-title {
						font-size: 60px;
						line-height: 1;
						font-weight: 700;
						margin-bottom: 30px;
					}
					& .body-description {
						font-size: 20px;
						line-height: 28px;
					}
				}
			}
		}
	}
}

.departure-container {
	& .one-section.first,
	.one-section.second,
	.one-section.third,
	.one-section.fourth,
	.one-section.fifth,
	.one-section.sixth,
	.one-section.seventh,
	.one-section.eighth,
	.one-section.nineth,
	.one-section.tenth {
		& .second-part {
			border-left: 2px solid green;
		}
	}

	& .one-section.fifth,
	.one-section.eighth {
		& .second-part {
			border-bottom: 2px solid #95989a;
		}
	}

	& .one-section.fourth,
	.one-section.fifth,
	.one-section.sixth,
	.one-section.seventh,
	.one-section.eighth,
	.one-section.nineth,
	.one-section.tenth,
	.one-section.eleventh,
	.one-section.twelfth {
		& .third-part {
			background-color: #e7efec;
		}
	}

	& .one-section.first {
		margin-top: 50px;
		& .first-part {
			background-color: $light-grey;
		}
		& .second-part {
			position: relative;
			background-color: $light-grey;
		}
	}

	& .one-section.second {
		& .first-part {
			background-color: $light-grey;
			border: none;
		}
		& .second-part {
			position: relative;
			background-color: $light-grey;
			border-radius: 0 0 160px;
			padding: 0;
			& .title {
				margin-left: 20px;
			}
			& .body-description {
				margin-left: 20px;
			}

			&-border {
				border-bottom: 2px solid #95989a;
			}
		}
	}

	& .one-section.third {
		& .third-part {
			background-color: $light-grey;
			border-radius: 20% 0 0;
			margin-top: -150px;
			& .subsection {
				width: 90%;
				border-radius: 0 80px 20px 20px;
				&-image {
					height: 120px;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: right;
					border-radius: 0 80px 40px 0;
					overflow: hidden;
					box-shadow: 0 6px 6px rgb(0 0 0 / 16%);
				}
			}
		}
	}
	& .one-section.fifth,
	.one-section.sixth,
	.one-section.one-section.nineth {
		& .third-part {
			margin-top: -150px;
			& .subsection {
				width: 90%;
				border-radius: 80px 0 10px 10px;
				&-image {
					height: 120px;
					overflow: hidden;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: right;
					border-radius: 80px 0 0 40px;
					box-shadow: $box-shadow-popular;
				}
			}
		}
	}

	& .one-section.sixth {
		& .second-part {
			& .text {
				font-size: 20px;
				margin-bottom: 10px;
			}
		}
	}

	& .one-section.nineth {
		& .circle-container {
			position: absolute;
			width: 44px;
			height: 44px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			z-index: 2;
			background-color: #63c745;
			top: -22px;
			left: calc(100% - 22px);
		}
	}

	& .one-section.twelfth {
		& .second-part {
			&_btn {
				height: 50px;
				color: $white-color;
				background-color: $primary-color;
				font-size: 20px;
				width: 40%;
				min-width: 200px;
				line-height: 50px;
				text-align: center;
				border-radius: 0 50px 0 0;
			}
			&_note {
				margin-top: 70px;
				font-style: italic;
				font-size: 20px;
				line-height: 28px;
			}
		}
	}
}
