@import '../../../variables';
@import '../../../breakpoints';

.flight-details {
	margin-bottom: 330px;

	& .one-section {
		& .first-part {
			width: 13%;
			min-width: 100px;
			position: relative;
			padding: 0 20px;
			color: #63c745;
			font-size: 18px;
			text-align: right;
			background-color: rgb(228, 248, 241);
			& .text {
				margin-top: -10px;
			}
			& .time-text {
				font-size: 24px;
				font-weight: 700;
				color: #2f2f2f;
				margin-top: 3px;
				@include tablet-screen {
					font-size: 20px;
				}
				@include mobile-screen {
					font-size: 16px;
				}
			}
			& .green-circle {
				width: 24px;
				height: 24px;
				position: absolute;
				background-color: #63c745;
				border-radius: 50%;
				z-index: 2;
				left: calc(100% - 12px);
				top: calc(0% - 12px);
				@include mobile-screen {
					width: 12px;
					height: 12px;
					left: calc(100% - 6px);
					top: calc(0% - 6px);
				}
				@include tablet-screen {
					width: 12px;
					height: 12px;
					left: calc(100% - 6px);
					top: calc(0% - 6px);
				}
			}
			& .blue-circle {
				width: 34px;
				height: 34px;
				position: absolute;
				background-color: $primary-color;
				border-radius: 50%;
				z-index: 2;
				left: calc(100% - 17px);
				top: -4px;
				&:last-child {
					top: 0px;
				}
				@include mobile-screen {
					width: 16px;
					height: 16px;
					top: calc(0% + 8px);
					left: calc(100% - 8px);
				}
				@include tablet-screen {
					width: 16px;
					height: 16px;
					top: calc(0% + 8px);
					left: calc(100% - 8px);
				}
			}
		}
		& .subsection {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
			background-color: $white-color;
			box-shadow: $box-shadow-popular;
			&-image {
				height: 120px;
				background-repeat: no-repeat;
				overflow: hidden;
				background-size: cover;
				box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
			}
			& .container {
				padding: 10px;
				position: relative;
				@include desktop-screen {
					padding: 20px 10px 10px 20px;
				}

				& .title {
					padding: 0;
					margin-top: 10px;
					font-size: 32px;
					font-weight: 700;

					@include tablet-screen {
						font-size: 18px;
					}
					@include mobile-screen {
						font-size: 18px;
					}
				}
				& .description {
					font-size: 24px;
					line-height: 1;
					color: #5a5e60;
					margin-top: 10px;
					@include tablet-screen {
						font-size: 1em;
						padding: 0;
						margin-bottom: 10px;
					}
					@include mobile-screen {
						font-size: 12px;
						padding: 0;
						margin-bottom: 10px;
					}
				}
				& .subsection-btn {
					cursor: pointer;
					display: inline-block;
					font-weight: 700;
					width: 80%;
					height: 40px;
					color: $primary-color;
					background-color: $white-color;
					height: 60px;
					padding: 0;
					line-height: 1;
					border: 2px solid $primary-color;
					border-radius: 30px;
					font-size: 24px;
					margin: 15px 0 20px;
					margin-left: auto;
					margin-right: auto;
					-webkit-transition: 0.3s ease-out;
					transition: 0.3s ease-out;
					text-transform: uppercase;
					@include tablet-screen {
						width: 80%;
						height: 40px;
						font-size: 16px;
						margin: 10px auto;
					}
					@include mobile-screen {
						width: 80%;
						height: 40px;
						font-size: 12px;
						margin: 10px auto;
					}
					&:hover {
						background-color: $primary-color;
						color: $white-color;
						transition: all 0.5s ease-in-out;
					}
				}
			}
		}

		& .second-part {
			width: 50%;
			padding: 2px 2px 18px 2%;
		}
		& .third-part {
			width: 37%;
			padding: 30px;
			@include tablet-screen {
				padding: 20px;
			}
			@include mobile-screen {
				padding: 20px;
			}
		}
	}
	& .flight-info-header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		@include mobile-screen {
			flex-direction: column;
		}
		@include tablet-screen {
			flex-direction: column;
		}
		& .second-col {
			width: 90%;
			margin: 0 auto;
			@include desktop-screen {
				width: 30%;
				margin-top: 150px;
			}

			& .buy-tickets {
				box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
				background-color: $white-color;
				border-radius: 20px;
				width: 90%;
				margin-left: 0;
				@include desktop-screen {
					margin-right: auto;
					margin-left: auto;
					width: 300px;
				}

				@include desktop-screen {
					margin-left: auto;
					margin-right: auto;
				}
				&_image {
					background-position: center;
					max-width: 100%;
					background-size: cover;
					border-radius: 0 0 0 70px;
				}
			}
		}
		& .first-col {
			width: 100%;
			@include desktop-screen {
				width: 61%;
			}

			& .container {
				padding: 0 20px 20px;
				@include desktop-screen {
					padding: 0 40px 20px;
				}

				& .return-btn {
					width: 8%;
					min-width: 100px;
					height: 60px;
					line-height: 60px;
					font-weight: 700;
					text-align: right;
					padding-right: 10px;
					margin-top: 20px;
					border-radius: 50px 0 0 0;
					box-shadow: $box-shadow-popular;
					color: $primary-color;
					background-color: $white-color;
					font-size: 20px;
					&:hover {
						background-color: $primary-color;
						color: $white-color;
						transition: all 0.5s ease-in-out;
					}
				}

				& .city-name {
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-bottom: 20px;
					font-size: 70px;
					letter-spacing: 2px;
					&_img {
						width: 25%;
						min-width: 100px;
						display: flex;
						height: 50px;
						padding: 0;
						margin-left: 20px;
						overflow: hidden;
						border: 2px solid #1eb7ee;
						background-color: #fff;
						border-radius: 0 0 50px 0;
						align-items: flex-start;
						justify-content: center;
						& img {
							height: 46px;
						}
					}
				}
				& .title {
					line-height: 28px;
					font-weight: 400;
					font-size: 24px;
				}

				& .details {
					width: 90%;
					max-width: 90%;

					& ul {
						list-style: none;
						padding: 0;
						margin: 0;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						& li {
							display: flex;
							flex-direction: column;
							padding: 10px;
							padding-right: 24px;
							margin: 0;
							font-size: 24px;
							@include mobile-screen {
								padding-right: 12px;
							}
							@include tablet-screen {
								padding-right: 16px;
							}
							&:first-child {
								width: auto;
							}
							& p {
								padding: 0;
							}
							& .label {
								font-size: $font-size-base;
								font-weight: 600;
								color: #95989a;
								text-align: center;
							}
							& .value {
								text-align: center;
								@include tablet-screen {
									font-size: 20px;
								}
								@include mobile-screen {
									font-size: 1em;
								}
							}
						}
					}

					& .details-status {
						font-size: 35px;
						font-weight: 700;
					}
				}
			}
		}
	}
}
