@import '../../variables';
@import '../../breakpoints';

.priority-line {
	width: 98%;
	max-width: 1120px;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
	background-image: linear-gradient(-180deg, #8dc23a 0%, #587e1d 100%);
	padding: 20px 0 20px 30px;
	border-radius: 180px 20px 20px;
	@include mobile-screen {
		height: 190px;
		max-height: 200px;
		border-radius: 100px 10px 10px;
	}
	&_container {
		position: relative;
		padding: 1em 1.5em;
		background: rgba(255, 255, 255, 0.6);
		border-radius: 150px 0 0 150px;
		box-shadow: 0 5px 10px rgb(0 0 0 / 16%);
		text-align: right;
		@include mobile-screen {
			height: 100px;
			max-height: 70%;
			padding: 0.8em;
		}
		& .main-img {
			position: absolute;
			left: 5%;
			top: 35%;
			@include mobile-screen {
				display: none;
			}
			@include desktop-screen {
				height: 100px;
			}
			@include tablet-screen {
				height: 70px;
			}
		}
		& h1 {
			margin: 0;
			margin-bottom: 0.1em;
			padding: 0;
			font-size: 50px;
			font-weight: 700;
			line-height: 0.8;
			font-stretch: condensed;
			text-transform: uppercase;
			background: -webkit-linear-gradient(-180deg, #8dc23a 0%, #587e1d 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			@include desktop-screen {
				font-size: 120px;
				margin-bottom: 0.5em;
			}
			@include tablet-screen {
				font-size: 90px;
				margin-bottom: 0.1em;
			}
		}
		& span {
			margin: 5px 0 20px;
			font-size: 1.5em;
			@include mobile-screen {
				margin: 10px 0 20px;
				font-size: 1em;
			}
		}
		&__counter {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			margin-top: 3em;
			& .img-section {
				display: flex;
				flex-direction: column;
				align-items: center;
				@include mobile-screen {
					display: none;
				}
				& img {
					width: 60px;
					@include tablet-screen {
						width: 40px;
					}
				}
				& span {
					padding: 5px 0 0 0;
					margin: 0;
					text-align: center;
					display: block;
					color: #5a5e60;
					font-size: 14px;
					font-weight: 600;
					@include tablet-screen {
						font-size: 10px;
					}
				}
			}
			& .adult-section,
			.child-section {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				margin-right: 10px;
			}
			& .count-numb {
				width: 40px;
				align-self: center;
				font-weight: 700;
				font-size: 2.5em;
				line-height: 1;
				color: #000;
				z-index: 3;
				@include mobile-screen {
					display: none;
				}
				@include tablet-screen {
					width: 30px;
				}
			}
			& .counter-btn {
				width: 40px;
				height: 40px;
				margin-left: 10px;
				border: 2px solid #28a745;
				color: #28a745;
				border-radius: 50%;
				font-size: 28px;
				font-weight: 700;
				cursor: pointer;
				@include mobile-screen {
					display: none;
				}
				&:hover {
					background-color: #28a745;
					color: #fff;
				}
			}
			& .booking-btn {
				width: 180px;
				height: 65px;
				margin-left: 15px;
				border: 4px solid #1eb7ee;
				border-radius: 30px;
				line-height: 57px;
				text-align: center;
				background: #fff;
				color: #1eb7ee;
				font-weight: 700;
				font-size: 20px;
				text-transform: uppercase;

				-webkit-transition: 0.3s ease-out;
				transition: 0.3s ease-out;
				cursor: pointer;
				&:hover {
					color: #fff;
					background: #1eb7ee;
					transition: all 0.5s ease-in-out;
				}
				@include tablet-screen {
					width: 135px;
				}
				@include mobile-screen {
					height: 45px;
					font-size: 16px;
					line-height: 1;
					margin-top: -10px;
				}
			}
		}
	}
}
