footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	flex: 1;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background: #595959;
	color: #fff;

	& .footer_container {
		margin-left: auto;
		margin-right: auto;
		padding: 20px 40px;

		&__main {
			margin-bottom: 30px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			border-bottom: 1px solid #b8bdc1;

			& .col {
				width: calc(100% / 4);
				margin: 0 30px 30px 0;
				padding: 0;
				display: flex;
				flex-direction: column;
				list-style: none;
				font-size: 24px;

				& li {
					display: inline-block;
					font-size: 16px;
					border-bottom: 1px solid transparent;
					-webkit-transition: 0.2s ease-out;
					transition: 0.2s ease-out;
					margin-bottom: 10px;
					cursor: pointer;
					&:hover {
						text-decoration: underline;
						text-decoration-color: #b8bdc1;
					}

					&:first-child {
						font-weight: 700;
						margin-bottom: 10px;
					}
				}
			}

			& .fourth-col li:first-child {
				margin: 0 0 5px 0;
			}

			& .fourth-col li:nth-child(3) {
				font-weight: 700;
			}

			& .fourth-col li:nth-child(2) {
				margin-top: 7px;
			}

			& .icons-container {
				margin: 0;
				padding: 0;
				& .icon {
					margin-right: 10px;
					cursor: pointer;
				}
			}
		}

		&__bottom {
			font-size: 16px;
			font-weight: 700;
		}
	}
}
